/*balck: 222831 
gray: 393E46
Green: 00ADB5
white: EEEEEE*/
/* Universal */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.sectionHeading {
    width: fit-content;
    margin: 100px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #00ADB5;
}
.sectionTextbox {
    width: 70%;
    position: realtive;
    transform: translate(20%, 0%);
    font-size: 20px;
    color: #393E46;
}
.heroSection {
    background-color: #222831;
    color: #EEEEEE;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.heroText {
    text-align: center;
    font-size: 35px;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroText p {
    margin: 10px;
}

.resumeDownloadButton {
    background-color: #00ADB5;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
}

.resumeDownloadButton a {
    text-decoration: none;
    color: #393E46;
}

/* navigation bar */
.navbarContainer {
    width: 100%;
    height: 10vh;
    background-color: #393E46;
    position: fixed;
    top: 0;
    cursor: pointer;
    overflow-y: hidden;
    z-index: 1;
}

.navbarContainer ul li:not(:nth-child(1)):hover {
    background-color: #222831;
}

.navbarContainer ul li:nth-child(6) {
    visibility: hidden;
}

.navbarContainer ul li:not(:nth-child(1)) {
    display: inline;
    float: right;
}

.navbarContainer ul li:nth-child(1) {
    display: inline-flex;
}

.navbarContainer ul li {
    padding: 20px;
    color: #00ADB5;
}

.navbarContainer ul li a {
    color: #00ADB5;
    text-decoration: none;
}

/* About Section */
.aboutMeText {
    text-align: justify;

}

.aboutMeText table td {
    width: 70%;
    text-align: left;
    padding: 5px;
    ;
}

/* educationSection */
.educationElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
.eduName{
    width: 50%;
}
.educationElement div {
    margin: 10px;
}
/* projectSection */
.projectElement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
.projectElement div a{
    text-decoration: none;
    color: #00ADB5;
}
/* contactme */
.sectionTextbox form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.sectionTextbox form input{
    margin: 2px;
    padding: 10px ;
    text-align: center;
    border: 2px solid#00ADB5;
    border-radius: 5px;
}
.sectionTextbox form input:focus{
    background-color: #00ADB5;
    color: #222831;
}
.submitButton{ background-color: #00ADB5;
    width: 20%;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px auto;
    cursor:pointer;
}
.submitButton:hover{
    background-color: #222831;
    color: #EEEEEE;
}

/* footer */
footer{
    margin-top: 100px;
    background-color: #222831;
    width: 100%;
    height: 50vh;
}
footer div ,footer div a{
    color: #EEEEEE;
}
footer div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-10%,-50%);
}
/* mobile responsive */
@media screen and (max-width:900px) {
    /* universal */
    .sectionHeading {
        margin: 50px 0px;
        position: relative;
        width: 100%;
        left: 80%;
    }
    .sectionTextbox {
        padding: 0px 1px;
        font-size: 12px;
        position: relative;
        right: 19%;
        width: 100%;
    }
    .heroSection {
        height: 60px;
    }

    .heroText {
        font-size: 20px;
        overflow-wrap: break-word;
    }

    /* navigation bar */
    .navbarContainer {
        height: 60px;
    }

    .navbarContainer ul li:not(:nth-child(1)) {
        visibility: hidden;
    }

    .navbarContainer ul li:nth-child(6) {
        visibility: visible;
        position: absolute;
        right: 0;
    }

    .navbarContainer ul li:hover {
        background-color: transparent;
    }

    .toggleButton {
        background-color: #393E46;
        border: 2px solid #00ADB5;
        color: #00ADB5;
        border-radius: 7px;
        width: 25px;
        height: 25px;
    }

    .navbarContainer.responsive {
        height: fit-content;
    }

    .navbarContainer.responsive ul {
        overflow-y: hidden;
    }

    .navbarContainer.responsive ul li {
        visibility: visible;
        display: inline;
        float: none;
        padding: 20px;
        width: 100%;
    }

    .navbarContainer.responsive ul li:hover {
        background-color: transparent;
    }

    .navbarContainer.responsive ul li a {
        margin-left: 20px;
        display: block;
        text-align: left;
    }

    .navbarContainer.responsive ul li:nth-child(1) {
        visibility: hidden;
    }

    .navbarContainer.responsive .toggleButton {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    /* about section */
    .aboutMeText {
        text-align: initial;
    }

    /* educationSection */
    .educationElement {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;
    }
/* contact */
.sectionTextbox form{
    width: 90%;
}
.sectionTextbox form input{
    margin: 1px;
    padding: 5px ;
}
.submitButton{
    margin-top: 20px;
    width: 30%;
}
/* footer */
footer{
    height: 20vh;
}
footer div{
    font-size: 12px;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-10%,-50%);
}
}
