
@media screen and (min-width:600px) and (max-width:1000px) {
    .content h2 {
        font-size: 2.8rem;
        padding: 0px 25px 0px 0px;
    }

    .design {
        width: 41%;
        height: 59%;
        transform: rotate(-22deg);
        border-radius: 30%;
    }
    .sectionHeading {
        left: 50%;
        font-size: 2.8rem;
    }

    .sectionTextbox {
        font-size: 1rem;
    }

}